@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: overlay;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #71ffd5;
}

body, .App {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* *::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

div {
  color: rgba(0, 0, 0, 0);
  transition: color 0.2s ease-in-out;
}

div:hover {
  color: rgba(0, 0, 0, 0.3);
}*/

a {
  width: fit-content;
}

.card-placeholder {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f2f2f2 38%, #fafafa 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

/*---------- VARIABLES PART ----------*/
* {
  --header-width: 205px;
  --toolbar-height: 75px;
  --artist-board-banner-height: 250px;
  --audio-player-height: 65px;
}

/*---------- MAIN PART ---------*/
.link-white {
  color: white;
}

.link-purple {
  color: #7000FF;
}

input {
  font-size: 11pt;
}

.hide-this-div {
  cursor: default;
}

.main {
  display: flex;
  height: calc(100vh - 40px);
  width: calc(100% - 40px);
  padding: 20px;
}

.error {
  color: #ffffff;
  position: fixed;
  background: #ff7171;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  bottom: 0;
  z-index: 2;
  padding: 20px;
}

.shadow {
  box-shadow: 0 10px 30px rgb(112 0 255 / 1%), 0 5px 100px rgb(112 0 255 / 1%); 
}

.background-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button, Button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}

/*---------- HOME PART ---------*/
.home-content {
  width: 100%;
  position: absolute;
	display: inline-flex;
	background: linear-gradient(294deg,rgb(162 105 255),rgb(105,0,246,0.9));
	color: #7000FF;
}

.sign-home-content {
  position: fixed;
}

.home-box {
  height: calc(100vh - 100px);
  width: calc(50% - 100px);
  box-shadow: 0 10px 5px rgb(112 0 255 / 1%), 0 5px 100px rgb(112 0 255 / 1%);
  background: white;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  display: flex;
  align-content: center;
  padding: 50px;
  text-align: left;
  flex-direction: column;
  min-height: 500px;
}

.home-box-logo {
  width: 180px;
}

.home-box-items {
   text-align: left;
   transform: translate(0);
   display: flex;
   flex-direction: column;
   margin: auto auto auto 0;
}

.home-box-title {
  line-height: 50pt;
  font-size: 50pt;
  font-weight: 800;
  z-index: 12131312;
  flex: 1 1 100%;
  width: 100%;
  margin: 0;
  color: #7000FF;
}

.ms-slider {
   display: inline-block;
   margin-top: -12px;
   color: #7000FF;
   height: 70pt;
   overflow: hidden;
   vertical-align: middle;
   -webkit-mask-image: linear-gradient(transparent 0%, white 10%, white 50%, white 90%, transparent 100%);
   mask-image: linear-gradient(transparent 0%, white 10%, white 50%, white 90%, transparent 100%);
   /*-webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
           mask-image: linear-gradient(transparent, white, white, white, transparent);*/
   mask-type: luminance;
   mask-mode: alpha;
}

.ms-slider__words {
   display: inline-block;
   margin: 0;
   padding: 0;
   list-style: none;
   -webkit-animation-name: wordSlider;
           animation-name: wordSlider;
   -webkit-animation-timing-function: .2s ease-in-out;
           animation-timing-function: .2s ease-in-out;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-duration: 6s;
           animation-duration: 6s;
}

.ms-slider__word {
   display: block;
   line-height: 70pt;
   text-align: left;
   color: #7000FF;
}

@-webkit-keyframes wordSlider {
 0%, 27% {
   transform: translateY(0%);
 }
 33%, 60% {
   transform: translateY(-25%);
 }
 66%, 93% {
   transform: translateY(-50%);
 }
 100% {
   transform: translateY(-75%);
 }
}

@keyframes wordSlider {
 0%, 27% {
   transform: translateY(0%);
 }
 33%, 60% {
   transform: translateY(-25%);
 }
 66%, 93% {
   transform: translateY(-50%);
 }
 100% {
   transform: translateY(-75%);
 }
}

.home-box-subtitle-box {
   max-width: 500px;
   margin: 30px auto 0 0;
}

.home-box-subtitle {
  font-size: 18pt;
  line-height: 18pt;
  font-weight: 300;
  color: #7000FF;
}

.home-box-buttons-box {
  display: inline-flex;
  font-family: Poppins;
  font-weight: 800;
  font-size: 16pt;
  background: #f8f3ff;
  border-radius: 23px;
  margin-top: 70px;
  width: -moz-fit-content;
  width: fit-content;
}

.home-box-button-btn {
  padding: 18px 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.home-box-button-btn:hover {
  transform: scale(1.03);
}

.home-box-button {
  padding: 10px 30px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 16pt;
  border-radius: 20px;
  transition: all .2s ease-in-out;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: max-content;
}

.home-box-button-left {
  background: linear-gradient(320deg,rgba(112,0,255,0.7),rgba(112,0,255,1));
  color: #fff;
  margin-left: 10px;
}

.home-box-button-left:hover {
  background-color: #71ffd5;
  color: #fff;
  cursor: pointer;
}

.home-box-button-right {
  background: none;
  color: #7000ff;
}

.home-picture {
   height: calc(100vh - 100px);
   width: 50%;
   height: 100vh;
   display: flex;
   align-content: center;
   align-items: center;
   background-image: url(../images/home-background-image-iphone-website.png);
   background-size: 420px;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 600px;
}

@media all and (max-width:1060px) {
  .home-box, .home-picture {
    min-height: 0px;
  }
}

@media all and (max-width:1060px) {
  .home-content {
    flex-direction: column;
  }

  .home-box {
    padding: 30px 30px 40px 30px;
    width: calc(100% - 60px);
    border-radius: 0;
    height: fit-content;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
	
  .home-box-items {
    margin-top: 50px;
  }

 .home-picture {
    background-size: 330px;
    height: 630px;
    width: 100%;
 }
}

@media all and (max-width:480px) {

  .home-box-title {
    line-height: 30pt;
    font-size: 30pt;
  }

  .home-box-subtitle {
    font-size: 14pt;
  }

  .ms-slider {
    height: 55pt;
     margin-top: -10px;
 }

  .ms-slider__word {
   line-height: 50pt;
 }

 .home-box-buttons-box {
   margin-top: 40px;
 }
}

@media all and (max-width:320px) {
 .home-box-button {
  padding: 10px 25px;
 }
}

/*---------- SIGNIN-UP PART ---------*/
.sign-section-background-wrapper {
  height: 100vh;
  width: 100%;
	top: 0;
	left: 0;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
  position: fixed;
  background: #f7f5fa;
}

.sign-section-wrapper {
  display: flex;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background: #f7f5fa;
}

.sign-section {
  background: #fff;
  border-radius: 1rem;
  text-align: center;
  z-index: 1;
  transition: all .2s ease-in-out;
  margin: auto;
  display: inline-flex;
  width: fit-content;
  box-shadow: 0 10px 300px rgb(0 0 0 / 10%), 0 5px 100px rgb(0 0 0 / 10%);
  position: relative;
}

.sign-section-left {
  width: 290px;
  display: flex;
  flex-direction: column;
  margin: 35px;
  min-width: min-content;
}

@media all and (max-width:480px) {
  .sign-section-left {
    margin: 20px;
  }
}

.sign-section-right {
  width: calc(350px + 70px);
  flex-direction: column;
  display: flex;
  background: #f7f7f7;
  overflow: hidden;
  border-top-right-radius: 1rem;
  
  border-bottom-right-radius: 1rem;
}

.sign-section-right-content {
  width: 100%;
  height: 100%;
  background-image: url(../images/sign-section-image.jpg);
  filter: saturate(0) opacity(0.9);
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.sign-section-right-content:hover {
  transform: scale(1.05);
}

.sign-section-close-button {
  width: 20px;
  position: absolute;
  margin-left: auto;
  float: right;
  text-align: right;
  right: 20px;
  /*filter: invert(1) opacity(0.8);*/
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
 .sign-section {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .sign-section-right {
    display: none;  
  }
}

.sign-section:hover {
  transform: scale(1.01);
}

.sign-form-logo {
  opacity: 0.9;
  width: 180px;
  margin: 10px auto 25px auto;
}

.sign-title {
  line-height: 1.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #3e3e3e;
  margin: 1rem 0 1rem 0;
  margin-top: 1rem;
}

.sign-subtitle {
  font-weight: 600;
  font-size: 14pt;
  color: #7000ff;
}

.form-section {
}

.inline-inputs {
display: inline-block;
}

.inline-inputs-big {
  display: inline-block;
  width: 100%;
}

.inline-inputs-block-big {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
width: 100%; 
}

.inline-inputs-block-signin {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
  width: 100%;
}

.inline-inputs-block-signup {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
  width: calc(50% - 18px);
}

.inline-inputs-small-left {
 margin-right: 15px; 
}

.inline-inputs-small-right {
 margin-left: 15px; 
}

.label-inputs {
  margin-top: 5px;
  font-weight: 600;
  display: inline-flex;
  margin-left: 2px;
  color: #7000FF;
}

.sign-inputs {
  font-family: Poppins, sans-serif;
  color: #1D1D1D;
  outline: 0;
  background: #f7f7f7;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255, 0);
  padding: 10px;
  transition: all .2s ease-in-out;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  width: 100%;
}

.signin-inputs {
  width: 100%;
  color: #545454;
}

.sign-inputs:hover {
  outline: 0;
  border: 2px solid rgba(29,29,29, 0.01);
  transform: scale(1.02);
}

.sign-inputs:active,
.sign-inputs:focus {
  outline: 0;
  border: 2px solid rgba(29,29,29, 0.01);
  transform: scale(1.02);
}

.signup-small-inputs {
  width: 100%;
}

.signup-big-inputs {
  width: 100%;
}

.sign-inputs::-webkit-input-placeholder {
  color: rgba(29, 29, 29, 0.3);
}

.sign-inputs-buttons {
  outline: 0;
  border: none;
  cursor: pointer;
  margin: 30px 0px 30px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  padding-left: 30px;
  color: #fff;
  font-size: 12pt;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  box-shadow: 0 14px 28px rgba(112,0,255,.02), 0 10px 10px rgba(112,0,255,.02);
  background: linear-gradient(320deg,rgba(112,0,255,0.7),rgba(112,0,255,1));
}

.sign-inputs-buttons:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-inputs-buttons:hover {
  background-color: #71ffd5;
  color: #fff;
  transform: scale(1.05);
  position: center;
  text-decoration: none;
}

.validation {
  color: rgba(29,29,29, 0.5);
  margin: .75rem 0 0;
}

.sign-link {
  color: #7000ff;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.sign-link-validation {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

a {
  text-decoration: none;
}


ul.helper-text {
  margin-top: 20px;
  display: block;
  color: red;
  text-align: left;
  font-size: 11pt;
  line-height: 14pt;
}
  
a.valid {
  color: #71ffd5;
}

/*---------- PROFILE PART ---------*/
.artist-profile-page {
  padding: 20px;
  background: #f7f5fa;
}

#chakra-toast-portal {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.artist-profile-section {
  max-width: 445px;
  background: white;
  /*box-shadow: 0 14px 28px rgb(112 0 255 / 5%), 0 10px 10px rgb(112 0 255 / 5%);*/
  border-radius: 1rem;
  text-align: center;
  justify-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
  padding: 40px 30px;
}

@media screen and (max-width: 500px) {
  .artist-profile-page {
    padding: 0;
  }

  .artist-profile-section {
    padding: 40px 20px;
    border-radius: 0;
  }
}

.artist-profile-block {
  
}


.profile-user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-user-picture {
  background: white;
  padding: 5px;
  width: fit-content;
  height: 137.5px;
  border-radius: 100%;
  box-shadow: 0 10px 30px rgb(112 0 255 / 10%), 0 5px 100px rgb(112 0 255 / 10%);
}

.user-avatar {
  background: #F5F3F8
}

.css-1h8emob::after {
  content: "";
  width: 25px;
  height: 25px;
  background: var(--chakra-colors-green-300);
  border: 4px solid white;
}

.artist-name-informations {
  margin-top: 40px;
}

.artist-links-block {
  margin-top: 40px;
}

.button-purple {
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  color: #fff;
  font-size: 12pt;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  box-shadow: 0 14px 28px rgb(112 0 255 / 2%), 0 10px 10px rgb(112 0 255 / 2%);
  background: linear-gradient(
320deg,rgba(112,0,255,.7),#7000ff);
}

.button-grey {
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  color: #7000FF;
  font-size: 12pt;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  /* box-shadow: 0 14px 28px rgb(112 0 255 / 2%), 0 10px 10px rgb(112 0 255 / 2%); */
  background: #f8f3ff;
  background: white;
}

.buttonLabel {
  cursor: pointer;
}

.upload-profile-picture-button {
  margin-top: 20px;
}

.update-profile-button {
  margin: 20px 10px;
}

.logout-button {
  margin: 10px 10px;
}

.button-purple:hover {
  background-color: #71ffd5;
  transform: scale(1.05);
  position: center;
  text-decoration: none;
}

.button-grey:hover {
  transform: scale(1.05);
  position: center;
  text-decoration: none;
  /*background: #f2e9fd;*/
}

.profile-user-logged-as {
  font-weight: 700;
  font-size: 14pt;
  color: #3d3d3d;
  margin-top: 20px;
}

.profile-user-email {
  color: #7000FF;
  font-weight: 500;
}

.link-input {
    margin-top: 20px;
    margin-top: 20px;
}

.form-input-category {
  font-weight: 700;
  text-align: left;
  color: #7000FF;
  margin-bottom: 5px;
  margin-left: 10px;
}

.profile-link-input {
  border-radius: 7px;
  width: 100%;
  padding: 7px 10px;
  font-size: 11pt;
  outline: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.profile-footer {
  margin-top: 10px;
  margin-bottom: -5px;
}

.profile-footer-app-version {
  color: #7a7a7a;
  font-size: 10pt;
}

/*---------- HEADER PART ---------*/
.header {
  background: linear-gradient(90deg,rgb(255, 255, 255, 0),rgb(255, 255, 255, 0.03));
  background-position: center;
  background-size: cover;
  width: var(--header-width);
  min-width: var(--header-width);
  position: fixed;
  height: calc(100vh - var(--audio-player-height));
  left: 0;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
  z-index: 1;
}

.header-logo {
  cursor: pointer;
  width: 120px;
}

.header-top-icons {
  width: 20px;
  height: 20px;
  right: 20px;
  margin: -2px 0 0 15px;
  cursor: pointer;
  transition: all .3s cubic-bezier(1, 0.2, 0.57, 0.81);
}

.header-top-icons:hover {
 transform: rotate(-90deg); 
}

.header-title {
  font-weight: 700;
  text-align: left;
  margin-top: 75px;
}

.header-top-informations {
  display: flex;
  flex-direction: column;
  width: calc(var(--header-width) - 60px);
  min-height: calc(var(--artist-board-banner-height) - 25px - 30px);
  top: 0;
  border-bottom-left-radius: 50px;
  padding: 25px 30px 30px 30px;
}

.header-top-informations-text {
  text-align: left;
  display: grid;
  align-content: space-around;
}

.header-user-name {
  font-weight: 600;
  font-size: 12pt;
  color: white;
  margin-top: 30px;
}

.header-user-username {
  font-weight: 400;
  font-size: 11pt;
  max-width: 100px;
  cursor: pointer;
}

.header-menu {
  width: var(--header-width);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--artist-board-banner-height) - 240px - var(--audio-player-height));
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px 0 20px 0;
}

.header-menu-content {
  height: 100%;
  padding-bottom: 45px;
}

.header-menu-button-div, #dashboardBtn, #profileBtn, #walletBtn,  #settingsBtn {
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  border: 2px solid rgba(255,255,255,.0);
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
}

.header-menu-button-div + .header-menu-button-div {
  margin-top: 5px;
}

.header-menu-button-div:hover, #dashboardBtn:hover, #profileBtn:hover, #walletBtn:hover,  #settingsBtn:hover {
  filter: grayscale(1) brightness(1.5);
  /*background: linear-gradient(0deg,rgb(250, 251, 255, 0.7),rgb(255, 255, 255, 0.5));*/
  border: 2px solid rgba(29,29,29,.01);
  box-shadow: 0 5px 15px rgba(112, 0, 255, 0.05), 0 5px 15px rgba(112, 0, 255, 0.01);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all 0.2s ease-in-out;
}

.header-menu-button-div-clicked {
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  border: 2px solid rgba(255,255,255,.0);
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
  filter: grayscale(1) brightness(1.5);
}

.header-menu-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  align-content: center;
  transition: all .2s ease-in-out;
}

.header-menu-button-text {
  line-height: 0pt;
  font-family: Poppins;
  font-weight: 600;
  color: #7000FF;
  position: relative;
  margin-left: 15px;
  display: none;
  transform: translateX(-20px);
  opacity: 0;
  animation: slide-in-anim 0.20s ease-in-out forwards;
}

@keyframes slide-in-anim {
0% {
  opacity: 0;
}
50% {
  opacity: 0;
}
100% {
  opacity: 1;
  transform: translateX(-0%);
}
}

.header-menu-button-div:hover .header-menu-button-text {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

#dashboardBtn:hover .header-menu-button-text {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

#profileBtn:hover .header-menu-button-text {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

#walletBtn:hover .header-menu-button-text {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

#settingsBtn:hover .header-menu-button-text {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.header-footer {
  display: none;
  bottom: 40px;
  color: #767676;
  font-weight: 600;
  position: fixed;
  font-size: 10pt;
}

/*.header-menu-button-div:hover:nth-child(1n) {
  opacity: 0.1;
}*/

/*---------- TOOLBAR PART ---------*/
.toolbar {
  width: calc(100% - var(--header-width) - 80px);
  position: fixed;
  height: calc(var(--toolbar-height) - 40px);
  padding: 20px 40px 20px 40px;
  left: var(--header-width);
  top: 0;
  color: white;
  display: flex;
  -webkit-app-region: drag;
}

.page-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  min-width: fit-content;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
 .user-menu {
    display: none;
  }
}

.user-menu-icons-nav {
  display: flex;
  list-style: none;
}

.user-menu-icons {
  opacity: 1;
  width: 25px;
  vertical-align: middle;
  height: 25px;
  margin: 0 0 0 25px;
  cursor: pointer;
  transition: all .3s cubic-bezier(1,.2,.57,.81); 
}

.user-menu-icons-messages:hover {
  animation: jiggle .3s ease-out;
}

@keyframes jiggle {
  15%,40%,75%,100% {
    transform-origin:center center
  }
  15% {
    transform:scale(1.02, 1.05);
  }
  40% {
    transform:scale(0.9, 0.9);
  }
  75% {
    transform:scale(1.05, 1.02);
  }
  100% {
    transform:scale(1, 1);
  }
}

.user-menu-icons-notifications:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg);}
  25% { transform: translate(-1px, -1px) rotate(1deg);}
  50% { transform: translate(0px, -1px) rotate(-1deg);}
  75% { transform: translate(-1px, 0px) rotate(1deg);}
  100% { transform: translate(0px, -1px) rotate(-1deg);}
}

.user-menu-icons-signout {
	transition: all 0.3s ease-in-out;
}

.user-menu-icons-signout:hover {
  /*transform: translate(25px, 0);*/
  animation: slideRight 0.5s;
  animation-delay: 0.1s;
}

@keyframes slideRight {
  0% { transform: translate(0px, 0); opacity: 1}
  25% { transform: translate(15px, 0); opacity: 0}
  50% { transform: translate(-15px, 0); opacity: 0}
  100% { transform: translate(0px, 0); opacity: 1}
}

.user-name {
  margin-left: 20px;
  font-size: 13pt;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.user-picture {
  background: #F8F8FB;
  float: right;
  min-width: 40px;
  min-height: calc(75px - 35px);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
  border: solid 2px white;
  cursor: pointer;
}

.user-verified-icon {/*
  background-image: url(../images/icons/verified.svg);*/
  bottom: 0;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: bottom;
  margin-left: auto;
}

.toolbar-line-separator {
  width: calc(100% - var(--header-width) - 80px);
  background-color: white;
  position: fixed;
  top: 65px;
  opacity: 0.05;
  height: 0.05px;
}

/*---------- BOARD PART ---------*/
.board-header {
  background: linear-gradient(320deg,rgba(125,0,255,0.9),rgba(112,0,255,0.9));
  /*width: calc(100% - var(--header-width) - 40px);*/
  width: calc(100% - 40px);
  height: calc(var(--artist-board-banner-height) - 40px);
  border-bottom-left-radius: 50px;
  padding: 20px;
  /*left: var(--header-width);*/
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.board-bg {
   background: #f7f5fa;
   width: calc(100% - var(--header-width));
   position: fixed;
   height: calc(100vh);
   overflow: auto;
   left: var(--header-width);
   z-index: -2;
}

.board {
  width: calc(100% - var(--header-width) - 40px);
  position: fixed;
  height: calc(100vh - var(--toolbar-height) - var(--audio-player-height) - 65px);
  left: var(--header-width);
  top: var(--toolbar-height);
  padding: 40px 0 40px 40px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-clip: padding-box;
  z-index: 10;
}

.app-content {
  display: contents; 
}

.main-panels, .first-panels, .second-panels {
  display: flex;
   justify-content: space-between;
}

.second-panels {
   display: flex;
  margin-top: 20px; 
}

@media screen and (max-width: 1080px) {
  .main-panels, .first-panels, .second-panels {
     width: fit-content;
 }
}

.sheet {
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  background: linear-gradient(0deg,rgb(250, 251, 255, 0.7),rgb(255, 255, 255, 0.5));
}

.dashboard-item {
   transition: all .2s ease-in-out;
}

/* ---------- DASHBOARD PART ----------*/
.dashboard-content {
  margin-right: 40px;
  min-width: fit-content;
}

.activity-panel {
  width: calc(30% - 50px - 4px);
  min-width: 250px;
  height: calc(50vh - 80px - 40px - 10px - 4px - 30px);
  min-height: 200px;
  padding: 20px;
  border-radius: 15px;
  vertical-align: top;
  font-weight: 700;
  transition: all .2s ease-in-out;
  margin-right: 20px;
}

.activity-panel-block {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
}

.activity-panel-first-item {
  width: 100%;
  height: calc(70% - 10px);
  margin-top: 20px;
  border-radius: 10px;
 background: white;
}

.activity-panel-second-item {
   width: 100%;
   height: calc(30% - 10px);
   margin-top: 20px;
   border-radius: 10px;
   background: white;
}

.bestsellers-panel {
  width: calc(70% - 50px - 4px);
   min-width: 550px;
   height: calc(50vh - 80px - 40px - 10px - 4px - 30px);
   min-height: 200px;
   padding: 20px;
   border-radius: 15px;
   vertical-align: top;
   font-weight: 700;
   transition: all .2s ease-in-out;
}

.bestseller-items {
   background: white;
   width: calc(100% / 3 - 53px);
   height: calc(100% - 80px);
   border-radius: 10px;
   vertical-align: top;
   margin-top: auto;
   padding: 20px;
}

.bestseller-items-informations {
   color: #7000FF;
}

.bestseller-items-title {
   /*color: white;*/
}

.bestseller-items-price {
   font-weight: 500;
   margin-top: 10px;
}

.bestseller-items-sells {
   font-weight: 500;
}

.bestseller-items-image {
   background: #fafafa;
   background-size: cover;
   background-position: center;
   height: calc(100% - 75px);
   width: 100%;
   margin-top: 18px;
   border-radius: 10px;
}

@media screen and (max-width: 1350px) {
  .bestseller-items {
     width: calc(100% / 2 - 50px);
   }
   .bestseller-last-items {
     display: none;  
   }
}

.profile-panel {
  width: calc(70% - 50px - 4px);
   min-width: 550px;
   height: calc(50vh - 80px - 40px - 10px - 4px - 30px);
   min-height: 200px;
   padding: 20px;
   border-radius: 15px;
   font-weight: 700;
   transition: all .2s ease-in-out;
   margin-right: 20px;
}

.wallet-panel {
  width: calc(30% - 50px - 4px);
   min-width: 250px;
   height: calc(50vh - 80px - 40px - 10px - 4px - 30px);
   min-height: 200px;
   padding: 20px;
   border-radius: 15px;
   font-weight: 700;
   transition: all .2s ease-in-out;
}

.panel-title {
  position: absolute;
  color: #7000FF;
}

.panel-title-white {
   color: white;
}

/* ---------- PROFILE PART ----------*/
.artist-board-banner {
  width: calc(100% - var(--header-width) - 40px);
  height: calc(var(--artist-board-banner-height) - 40px);
  padding: 20px;
  left: var(--header-width);
  top: 0;
  position: fixed;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #821dff), var(--img);
}

.artist-board-banner-edit-button {
  color: white;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border: solid 2px white;
  padding: 1px 5px;
  font-size: 11pt;
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.artist-board-banner-edit-button::after {
  background-image: url(../images/icons/edit-pencil-icon.svg);
  background-size: 11px 21px;
  display: inline-block;
  width: 11px;
  height: 20px;
  margin-left: 10px;
  content: "";
}

.artist-profile-nav-bar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  height: 60px;
  width: calc(100% - var(--header-width) - 40px);
  position: fixed;
  top: 0;
  left: calc(var(--header-width) + 40px);
  margin-top: var(--artist-board-banner-height);
}

.artist-profile-nav-bar-menu {
  margin-left: calc(280px + 40px);
  margin-top: 135px;
  min-width: fit-content;
  position: fixed;
  height: 60px;
  display: flex;
  align-items: center;
}

@media all and (max-width:800px) {
  .artist-profile-nav-bar-menu {
    display: none;
  }
}

.artist-profile-nav-bar-menu-button {
  display: inline-flex;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  padding: 8px 10px;
  color: #cecece;
  transition: all .2s ease-in-out;
}

.artist-profile-nav-bar-menu-button:hover {
  color: #7000ff;
  background: #f5edff;
  border-radius: 10px;
}

.artist-profile-nav-bar-menu-button-visited {
  color: #7000FF;
}

.artist-card {
  background: hsla(0,0%,100%,0.7);
  width: 225px;
  border-radius: 15px;
  padding: 25px;
  margin-top: var(--toolbar-height);
  word-wrap: break-word;
}

.artist-card-picture-background {
  margin-right: auto;
  margin-top: -100px;
  width: 146px;
  height: 146px;
  border-radius: 100%;
  background: #fff;
  display: flex;
}

.artist-card-picture {
  width: calc(145px - 4px);
  height: calc(145px - 4px);
  margin: auto;
  border-radius: 100%;
  background: #FAFAFA;
  background-image: url(../images/icons/user-pic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.artist-card-edit-button {
  color: white;
  position: absolute;
  top: 15px;
  right: 15px;
  border: solid 2px white;
  padding: 1px 5px;
  font-size: 11pt;
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}

.artist-card-edit-button::after {
  background-image: url(../images/icons/edit-pencil-icon.svg);
  background-size: 11px 21px;
  display: inline-block;
  width: 11px;
  height: 20px;
  margin-left: 10px;
  content: "";
}

.artist-card-infos {
  margin-top: 25px;
}

.artist-card-artist-name {
  color: #7000FF;
  font-weight: 800;
  font-size: 18pt;
}

.artist-card-stats-informations {
  margin-top: 20px;
}

.artist-card-stats-line {
  display: block;
  font-weight: 500;
  color: #404040;
  margin-top: 2px;
}

.artist-card-stats-numbers {
  margin-right: 5px;
  font-size: 14pt;
  font-weight: 800;
  color: #404040;
}

.artist-card-bio {
  margin-top: 20px;
}

.artist-card-subcategory {
  font-weight: 800;
  display: block;
  margin-bottom: 7px;
  color: #7000FF;
}

.artist-card-text {
  color: #404040;
  font-size: 11pt;
}

.artist-card-links {
  margin-top: 20px;
}

.artist-card-socials-icons-block {
  display: flex;
  flex-direction: column;
  margin-left: -6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.artist-card-socials-block {
  font-size: 9pt;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
  color: #7000ff;
  border-radius: 10px;
  padding: 6px 7px 6px 0;
  height: 50px;
}

.artist-card-socials-block:hover {
  background: #f5edff;
}

.artist-card-socials-block + .artist-card-socials-block {
  margin-top: 3px;
}

.artist-card-socials-icons {
  width: 55px;
  padding: 6px 10px;
}

.artist-card-socials-icons-a {
  cursor: pointer;
}

.artist-card-socials-icons-apple {
  transform: translateY(-2px);
  height: 43px;
}

.artist-tracks {
  width: calc(100% - var(--header-width) - 78px - 280px);
  height: calc(100vh - var(--artist-board-banner-height) - var(--audio-player-height) - 60px - 66px);
  position: fixed;
  margin-left: 280px;
  top: calc(var(--artist-board-banner-height) + 60px);
  padding: 40px 0px 40px 40px;
  overflow: scroll;
}

.artist-track-card {
  background-color: white;
  height: calc(130px - 20px - 4px);
  width: calc(100% - 20px - 20px);
  min-width: 400px;
  max-width: 700px;
  border-radius: 13px;
  margin-right: 30px;
  padding: 10px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: row;
}

.artist-track-card:hover {
  transform: scale(1.01);
}

.artist-track-card + .artist-track-card {
  margin-top: 20px;
}

.artist-track-cover {
  /*background: #f2f2f2;*/
  width: 106px;
  height: 106px;
  border-radius: 10px;
}

.artist-track-informations {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.artist-track-title {
  color: #7000FF;
  font-weight: 800;
  font-size: 13pt;
}

.artist-track-artist-name {
  color: #404040;
  font-weight: 500;
  font-size: 11pt;
  margin-top: 5px;
}

/* ---------- AUDIO PLAYER ----------*/
.current-track-playing {
  width: var(--header-width);
  min-height: 200px;
  height: 200px;
  display: flex;
  border-top: 1px solid #f8f8f8;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.current-track-playing-cover {
  width: 160px;
  height: 160px;
  margin: auto;
  display: flex;
  border-radius: 10px;
}

.audio-player {
  position: fixed;
  width: 100%;
  z-index: 15;
  bottom: 0;
  height: var(--audio-player-height);
  background: white;
}

.audio-player-track-informations {
  display: flex;
  height: var(--audio-player-height);
  align-content: center;
  width: calc(var(--header-width) - 40px);
  padding: 0 20px;
}

.audio-player-track-informations-content {
  flex-direction: column;
  margin: auto 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #404040;
}

.audio-player-track-title {
  /*color: #404040;*/
  color: #7a7a7a;
  font-weight: 600;
  font-size: 10pt;
}

.audio-player-artist-name {
  /*color: #404040;*/
  color: #7a7a7a;
  font-weight: 500;
  font-size: 9pt;
  margin-top: 5px;
}

.audio-player-controls {

}

/* ---------- WALLET PART ---------- */
.wallet-content {
  margin-right: 40px;
  min-width: fit-content;
}

.wallet-board {
   width: 100%;
   min-width: 550px;
   height: calc(100vh - 75px - 120px);
   min-height: 300px;
   padding: 20px;
   border-radius: 15px;
   vertical-align: top;
   font-weight: 700;
   transition: all .2s ease-in-out;
   display: flex;
   justify-content: space-between;
}

.transactions-panel {
  width: calc(30% - 50px - 4px);
  min-width: 250px;
  height: calc(100vh - 75px - 120px - 4px - 65px);
  min-height: 300px;
  padding: 20px;
  border-radius: 15px;
  vertical-align: top;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.transactions-panel-block {
  width: 100%;
   height: calc(100% - 40px);
   margin-top: 40px;
}

.transactions-panel-first-item {
  width: 100%;
   height: 100%;
   margin-top: 20px;
   border-radius: 10px;
   background: white;
}

.transactions-panel-second-item {
   width: 100%;
   height: calc(30% - 10px);
   margin-top: 20px;
   border-radius: 10px;
   background: linear-gradient(180deg,rgb(255, 255, 255, 1),rgb(255, 255, 255, 0%));
}

.earnings-panel {
  width: calc(70% - 50px - 4px);
   min-width: 550px;
   height: calc(100vh - 75px - 120px - 4px - 65px);
   min-height: 300px;
   padding: 20px;
   border-radius: 15px;
   vertical-align: top;
   font-weight: 700;
   transition: all .2s ease-in-out;
   margin-left: 20px;
   display: flex;
   justify-content: space-between;
}

.earnings-items {
   background: white;
   width: 100%;
   height: calc(100% - 80px);
   border-radius: 10px;
   vertical-align: top;
   margin-top: auto;
   padding: 20px;
}

.earnings-items-informations {
   color: #7000FF;
}

.earnings-items-title {
  /*color: white;*/
}

.earnings-items-price {
   font-weight: 500;
   margin-top: 10px;
}

.earnings-items-sells {
   font-weight: 500;
}
