@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*overflow-y: overlay;*/
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #71ffd5;
}

input::selection {
  background: #71ffd5;
}

input:-webkit-autofill{
  -webkit-text-fill-color: #545454 !important;
}


body, .App {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#chakra-toast-portal {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.css-3b6enb, .css-1abt8wl {
  background: #4fffca !important;
  font-size: 15pt;
}

.css-onkibi {
  width: 15px !important;
  height: 15px !important;
  line-height: 15pt;
}

/* User Banner */
.css-taa2t4 {
  height: 200px !important;
}

/*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

div {
  color: rgba(0, 0, 0, 0);
  transition: color 0.2s ease-in-out;
}

div:hover {
  color: rgba(0, 0, 0, 0.3);
}*/

a {
  width: fit-content;
}

.card-placeholder {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #fafafa 8%, #f2f2f2 38%, #fafafa 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

/*---------- VARIABLES PART ----------*/
* {
  --header-width: 205px;
  --toolbar-height: 75px;
  --artist-board-banner-height: 250px;
  --audio-player-height: 65px;
}

/*---------- MAIN PART ---------*/
.link-white {
  color: white;
}

.link-purple {
  color: #7000FF;
}

input {
  font-size: 11pt;
}

.hide-this-div {
  cursor: default;
}

.main {
  display: flex;
  height: calc(100vh - 40px);
  width: calc(100% - 40px);
  padding: 20px;
}

.error {
  color: #ffffff;
  position: fixed;
  background: #ff7171;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  bottom: 0;
  z-index: 2;
  padding: 20px;
}

.shadow {
  box-shadow: 0 10px 30px rgb(112 0 255 / 1%), 0 5px 100px rgb(112 0 255 / 1%); 
}

.background-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button, Button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	outline: inherit;
}

/*---------- HOME PART ---------*/
.home-content {
  width: 100%;
	display: inline-flex;
  background: linear-gradient(300deg,rgb(147 80 255),#7000ffe6);
	color: #7000FF;
  background-image: url(../images/curieux-app-bg-reflect.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sign-home-content {
  position: fixed;
}

.home-box-left {
  /*height: 100vh;*/
  width: 50%;
  /*height: calc(100vh - 100px);
  width: calc(50% - 100px);*/
  box-shadow: 0 10px 5px rgb(112 0 255 / 1%), 0 5px 100px rgb(112 0 255 / 1%);
  background: white;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  display: flex;
  align-content: center;
  padding: 60px;
  text-align: left;
  flex-direction: column;
  min-height: 500px;
}

.home-box-logo {
  width: 225px;
}

@media all and (max-width:480px) {
  .home-box-logo {
   width: 180px;
  }
}

.home-box-items {
   text-align: left;
   transform: translate(0);
   display: flex;
   flex-direction: column;
   margin: auto auto auto 0;
}

.home-box-title {
  line-height: 62.5pt;
  font-size: 62.5pt;
  font-weight: 800;
  z-index: 12131312;
  flex: 1 1 100%;
  width: 100%;
  margin: 0;
  color: #7000FF;
}

.ms-slider {
   display: inline-block;
   margin-top: -12px;
   color: #7000FF;
   height: 87.5pt;
   overflow: hidden;
   vertical-align: middle;
   -webkit-mask-image: linear-gradient(transparent 0%, white 10%, white 50%, white 90%, transparent 100%);
   mask-image: linear-gradient(transparent 0%, white 10%, white 50%, white 90%, transparent 100%);
   /*-webkit-mask-image: linear-gradient(transparent, white, white, white, transparent);
           mask-image: linear-gradient(transparent, white, white, white, transparent);*/
   mask-type: luminance;
   mask-mode: alpha;
}

.ms-slider__words {
   display: inline-block;
   margin: 0;
   padding: 0;
   list-style: none;
   -webkit-animation-name: wordSlider;
           animation-name: wordSlider;
   -webkit-animation-timing-function: .2s ease-in-out;
           animation-timing-function: .2s ease-in-out;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
   -webkit-animation-duration: 6s;
           animation-duration: 6s;
}

.ms-slider__word {
   display: block;
   line-height: 85.5pt;
   text-align: left;
   color: #7000FF;
}

@-webkit-keyframes wordSlider {
 0%, 27% {
   transform: translateY(0%);
 }
 33%, 60% {
   transform: translateY(-25%);
 }
 66%, 93% {
   transform: translateY(-50%);
 }
 100% {
   transform: translateY(-75%);
 }
}

@keyframes wordSlider {
 0%, 27% {
   transform: translateY(0%);
 }
 33%, 60% {
   transform: translateY(-25%);
 }
 66%, 93% {
   transform: translateY(-50%);
 }
 100% {
   transform: translateY(-75%);
 }
}

.home-box-subtitle-box {
  /*max-width: 330px;*/
  margin: 30px auto 0 0;
}

.home-box-subtitle {
  font-size: 22.5pt;
  line-height: 22.5pt;
  font-weight: 300;
  color: #7000FF;
}

.home-box-buttons-box {
  display: inline-flex;
  font-family: Poppins;
  font-weight: 800;
  font-size: 16pt;
  background: hsl(265deg 60% 98%);
  border-radius: 22.5px;
  margin-top: 70px;
  max-width: 625px;
}

.home-box-buttons-box-cta-section {
  display: inline-flex;
  font-family: Poppins;
  font-weight: 800;
  font-size: 16pt;
  border-radius: 22.5px;
  margin-top: 62.5px;
  max-width: 625px;
}

.signup-cta-home input:-webkit-autofill,
.signup-cta-home input:-webkit-autofill:hover, 
.signup-cta-home input:-webkit-autofill:focus, 
.signup-cta-home input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px hsl(265deg 60% 98%) inset !important;
}

.signup-cta-section input:-webkit-autofill,
.signup-cta-section input:-webkit-autofill:hover, 
.signup-cta-section input:-webkit-autofill:focus, 
.signup-cta-section input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.home-box-buttons-box-cta {
  max-width: 450px;
  background: white;
}

.home-box-button-btn {
  padding: 18px 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.home-box-button-btn:hover {
  transform: scale(1.03);
}

.chakra-button:focus {
  box-shadow: 0px 0px 0px 4px #dad5e1 !important;
}

.home-box-button {
  padding: 10px 30px;
  font-family: Poppins;
  font-weight: 800;
  font-size: 16pt;
  border-radius: 20px;
  transition: all .2s ease-in-out;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: max-content;
}

.home-box-button {
  background: linear-gradient(320deg,rgba(112,0,255,0.7),rgba(112,0,255,1));
  color: #fff;
}

.home-box-button:hover {
  background-color: #71ffd5;
  color: #fff;
  cursor: pointer;
}

.home-box-right {
   height: calc(100vh - 100px);
   width: 50%;
   height: 100vh;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
   background-image: url(../images/home-background-image-iphone-website.png);
   background-size: 440px;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 600px;
}

/*@media all and (max-width:1060px) {
  .home-box-left, .home-box-right {
    min-height: 0px;
  }
}*/

@media all and (max-width: 900px) {
  .home-content {
    flex-direction: column;
  }

  .home-box-left {
    padding: 30px 30px 40px 30px;
    width: 100%;
    border-radius: 0;
    height: fit-content;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
	
  .home-box-items {
    margin-top: 50px;
  }

 .home-box-right {  
    background-size: 330px;
    height: 480px;
    width: 100%;
    padding: 20px;
 }
}

@media all and (max-width:480px) {

  .home-box-title {
    line-height: 30pt;
    font-size: 30pt;
  }

  .home-box-subtitle {
    font-size: 14pt;
    font-weight: 400;
  }

  .ms-slider {
    height: 55pt;
     margin-top: -10px;
 }

  .ms-slider__word {
   line-height: 50pt;
 }

 .home-box-buttons-box {
   margin-top: 40px;
 }

}

@media all and (max-width:320px) {
 .home-box-button {
  padding: 10px 25px;
 }
}

/*---------- SIGNIN-UP PART ---------*/
.home-box-left-signup-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12.5px;
  width: 100%;
}

.signin-up-input, .signin-up-input-cta {
  outline: 0;
  color: #545454;
  background: 0;
  font-size: 17.5pt;
  padding: 0px 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*@media all and (max-width: 900px) {
  .signin-up-input {
    width: calc(100% - -20px);
  }
}*/

@media all and (max-width: 530px) {
  .home-box-left-signup-box {
    flex-direction: column;
    align-items: baseline;
  }

  .home-box-buttons-box-cta-section {
    background: none;
  }

  .signin-up-input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .signin-up-input-cta {
    width: 100%;
    background: hsl(265deg 60% 98%);
    padding: 15px;
    border-radius: 15px;
  }

  .home-box-button {
    margin-top: 10px;
    min-width: 100% !important;
  }

  .home-box-button-cta {
    margin-top: 15px;
    padding: 25px !important;
    width: 100% !important;
    color: #7e27f2 !important;
    background: white !important;
  }
}

.sign-section-background-wrapper {
  height: 100vh;
  width: 100%;
	top: 0;
	left: 0;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
  position: fixed;
}

.sign-section-wrapper {
  display: flex;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}

.sign-section {
  background: #fff;
  border-radius: 1rem;
  text-align: center;
  z-index: 1;
  transition: all .2s ease-in-out;
  margin: auto;
  display: inline-flex;
  width: fit-content;
  box-shadow: 0 10px 300px rgb(0 0 0 / 10%), 0 5px 100px rgb(0 0 0 / 10%);
  position: relative;
}

.sign-section-box {
  width: 340px;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  background: #fff;
  border-radius: 1.5rem;
  text-align: center;
  z-index: 1;
  transition: all .2s ease-in-out;
  box-shadow: 0 10px 300px rgb(0 0 0 / 10%), 0 5px 100px rgb(0 0 0 / 10%);
  position: relative;
  padding: 20px 30px;
}

.sign-section-box:hover {
  transform: scale(1.01);
}

@media all and (max-width:350px) {
  .sign-section-box {
    width: fit-content;
  }
}

.sign-section-right {
  width: 370px;
  flex-direction: column;
  display: flex;
  background: #f7f7f7;
  overflow: hidden;
  border-top-right-radius: 1rem;
  
  border-bottom-right-radius: 1rem;
}

.sign-section-right-content {
  width: 100%;
  height: 100%;
  background-image: url(../images/sign-section-image.jpg);
  filter: saturate(0) opacity(0.9);
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.sign-section-right-content:hover {
  transform: scale(1.05);
}

.sign-section-close-button {
  width: 20px;
  position: absolute;
  margin-left: auto;
  float: right;
  text-align: right;
  right: 20px;
  /*filter: invert(1) opacity(0.8);*/
  top: 20px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .sign-section-right {
    display: none;  
  }
}

.sign-section:hover {
  transform: scale(1.01);
}

.sign-form-logo {
  opacity: 0.9;
  width: 180px;
  margin: 10px auto 25px auto;
}

.sign-title {
  line-height: 1.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #3e3e3e;
  margin: 1rem 0 1rem 0;
  margin-top: 1rem;
}

.sign-subtitle {
  font-weight: 600;
  font-size: 14pt;
  color: #7000ff;
}

.form-section {
}

.inline-inputs {
display: inline-block;
}

.inline-inputs-big {
  display: inline-block;
  width: 100%;
}

.inline-inputs-block-big {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
width: 100%; 
}

.inline-inputs-block-signin {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
  width: 100%;
}

.inline-inputs-block-signup {
  text-align: left;
  display: inline-block;
  margin: 10px 0 10px 0;
  width: calc(50% - 18px);
}

.inline-inputs-small-left {
 margin-right: 15px; 
}

.inline-inputs-small-right {
 margin-left: 15px; 
}

.label-inputs {
  margin-top: 5px;
  font-weight: 600;
  display: inline-flex;
  margin-left: 2px;
  color: #7000FF;
}

.sign-inputs {
  font-family: Poppins, sans-serif;
  color: #1D1D1D;
  outline: 0;
  background: hsl(265deg 60% 98%);
  border-radius: 10px;
  border: 2px solid rgba(255,255,255, 0);
  padding: 10px;
  transition: all .2s ease-in-out;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  width: 100%;
}

.signin-inputs {
  width: 100%;
  color: #545454;
}

.sign-inputs:hover {
  outline: 0;
  border: 2px solid rgba(29,29,29, 0.01);
  transform: scale(1.02);
}

.sign-inputs:active,
.sign-inputs:focus {
  outline: 0;
  border: 2px solid rgba(29,29,29, 0.01);
  transform: scale(1.02);
}

.signup-small-inputs {
  width: 100%;
}

.signup-big-inputs {
  width: 100%;
}

.sign-inputs::-webkit-input-placeholder {
  color: rgba(29, 29, 29, 0.3);
}

.sign-inputs-buttons {
  outline: 0;
  border: none;
  cursor: pointer;
  margin: 30px 0px 30px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  padding-left: 30px;
  color: #fff;
  font-size: 12pt;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  box-shadow: 0 14px 28px rgba(112,0,255,.02), 0 10px 10px rgba(112,0,255,.02);
  background: linear-gradient(320deg,rgba(112,0,255,0.7),rgba(112,0,255,1));
}

.sign-inputs-buttons:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-inputs-buttons:hover {
  background-color: #71ffd5;
  color: #fff;
  transform: scale(1.05);
  position: center;
  text-decoration: none;
}

.validation {
  color: rgba(29,29,29, 0.5);
  margin: .75rem 0 0;
}

.sign-link {
  color: #7000ff;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.sign-link-validation {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

a {
  text-decoration: none;
}


ul.helper-text {
  margin-top: 20px;
  display: block;
  color: red;
  text-align: left;
  font-size: 11pt;
  line-height: 14pt;
}
  
a.valid {
  color: #71ffd5;
}

/* ---------- MAIN SECTION ----------*/
.bullet-points-section {
  min-height: 300px;
}

.cta-section {
  display: flex;
  flex-direction: row;
  height: 710px;
  width: 100%;
  padding: 60px;
}

.cta-section-box-left {
  width: 50%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: url(../images/curieux-app-bg-reflect.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 360px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.cta-section-box-title {
  color: white;
  font-weight: 800;
  font-size: 37.5pt;
  line-height: 37.5pt;
  max-width: 475px;
}

.cta-section-box-subtitle {
  color: white;
  font-weight: 300;
  font-size: 22.5pt;
  margin-top: 20px;
  line-height: 22.5pt;
}

.cta-section-box-right {
  width: 50%;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 10px 30px rgb(112 0 255 / 5%), 0 5px 100px rgb(112 0 255 / 5%);
  min-width: 360px;
  background-image: url(../images/home-background-image-iphone-website.png);
  background-size: 440px;
  background-position: center 40px;
  background-repeat: no-repeat;
}


@media screen and (max-width: 820px) {
  .cta-section {
    flex-direction: column;
    height: fit-content;
  }
  .cta-section-box-left, .cta-section-box-right {
    width: 100%;
  }
  .cta-section-box-left {
    border-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .cta-section-box-right {
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .cta-section {
    width:100%;
    padding: 30px;
  }
  .cta-section-box-left {
    min-width: 0;
    padding: 30px;
  }
  .cta-section-box-right {
    min-width: 0;
    background-size: 270px;
    background-position: center 5px;
  }
  .cta-section-box-title {
    font-size: 25pt;
    line-height: 26pt;
  }
  .cta-section-box-subtitle {
    font-size: 14pt;
    line-height: 18pt;
  }
  .home-box-buttons-box-cta {
    max-width: 100%;
    width: 100%;
  }
}

/* ---------- FOOTER PART ----------*/
.home-footer {
  width: 100%;
  background: #1d1d1d;
}

.home-footer-informations {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding: 60px;
  background: #1d1d1d;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  max-width: 1310px;
}

.home-footer-top-informations, .home-footer-bottom-informations {
  display: flex;
}

.home-footer-top-informations {
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 75px;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid hsla(0,0%,100%,.05);
}

.home-footer-top-informations-left-box {
  display: flex;
}

.home-footer-top-informations-left-box, .home-footer-top-informations-right-box {
  width: calc(100% / 2);
  max-height: max-content;
  flex-direction: column;
  margin-bottom: 0;
  padding: 0;
}

.home-footer-top-informations-right-box {
  align-items: end;
}

.home-footer-cta-button {
  cursor: pointer !important;
  transition: all .2s ease-in-out;
}

.home-footer-cta-button:focus {
  box-shadow: 0px 0px 0px 4px #dad5e1 !important;
}

@media screen and (max-width: 670px) {
  .home-footer-top-informations-left-box, .home-footer-top-informations-right-box {
    width: 100%;
  }

  .home-footer-top-informations-right-box {
    align-items: start;
    margin-top: 30px;
  }

  .home-footer-cta-button {
    margin: 0 auto 0 0 !important;
  }
}

.home-footer-bottom-informations {
  margin-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .home-footer-informations {
    padding: 30px 20px;
  }
}

.home-footer-main-title {
  font-size: 25pt;
  font-weight: 800;
  line-height: 30pt;
}

.home-footer-main-subtitle {
  font-size: 14pt;
  line-height: 17.5pt;
  opacity: 0.5;
  font-weight: 300;
  margin-top: 25px;
  max-width: 375px;
}

.home-footer-column {
  width: 25%;
  min-height: fit-content;
  margin-bottom: 25px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.home-footer-column  {
  padding-right: 25px;
}

@media screen and (max-width: 900px) {
  .home-footer-column {
    width: 33%;
  }
}

@media screen and (max-width: 700px) {
  .home-footer-column {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .home-footer-column {
    padding: 0px;
  }
}

.home-footer-logo-box {
  margin-bottom: 30px;
}

.home-footer-logo {
  width: 190px;
  transform: translateY(-2.5px);
}

.home-footer-column-title {
  font-weight: 600;
  font-size: 17.5pt;
  margin-bottom: 19px;
}

.home-footer-column-text {
  font-weight: 300;
  font-size: 14pt;
  line-height: 25pt;
  display: flex;
  color: #858585;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.home-footer-column-text:hover {
  color: white;
}

.home-footer-copyright {
  color: #858585;
  font-size: 14pt;
  font-weight: 300;
}

.home-footer-socials-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 37.5px;
}

.home-footer-social-button + .home-footer-social-button {
  margin-left: 14px;
}

.home-footer-social-icon {
  width: 26px;
  height: 26px;
  opacity: 0.5;
  transition: all .2s ease-in-out;
}

.home-footer-social-icon:hover {
  opacity: 1;
}

/*---------- STUDIO PART ----------*/

/*---------- HEADER PART ---------*/
.header {
  background: linear-gradient(90deg,rgb(255, 255, 255, 0),rgb(255, 255, 255, 0.03));
  background-position: center;
  background-size: cover;
  width: var(--header-width);
  min-width: var(--header-width);
  position: fixed;
  height: calc(100vh - var(--audio-player-height));
  left: 0;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;
  z-index: 1;
}

.header-logo {
  cursor: pointer;
  width: 120px;
}

.header-top-icons {
  width: 20px;
  height: 20px;
  right: 20px;
  margin: -2px 0 0 15px;
  cursor: pointer;
  transition: all .3s cubic-bezier(1, 0.2, 0.57, 0.81);
}

.header-top-icons:hover {
 transform: rotate(-90deg); 
}

.header-title {
  font-weight: 700;
  text-align: left;
  margin-top: 75px;
}

.header-top-informations {
  display: flex;
  flex-direction: column;
  width: calc(var(--header-width) - 60px);
  min-height: calc(var(--artist-board-banner-height) - 25px - 30px);
  top: 0;
  border-bottom-left-radius: 50px;
  padding: 25px 30px 30px 30px;
}

.header-top-informations-text {
  text-align: left;
  display: grid;
  align-content: space-around;
}

.header-user-name {
  font-weight: 600;
  font-size: 12pt;
  color: white;
  margin-top: 30px;
}

.header-user-username {
  font-weight: 400;
  font-size: 11pt;
  max-width: 100px;
  cursor: pointer;
}

.header-menu {
  width: var(--header-width);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--artist-board-banner-height) - 240px - var(--audio-player-height));
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  overflow-x: hidden;
  padding: 20px 0 20px 0;
}

.header-menu-content {
  height: 100%;
  padding-bottom: 45px;
}

.header-menu-button-div, #dashboardBtn, #profileBtn, #walletBtn,  #settingsBtn {
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  border: 2px solid rgba(255,255,255,.0);
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
}

.header-menu-button-div + .header-menu-button-div {
  margin-top: 5px;
}

.header-menu-button-div:hover, #dashboardBtn:hover, #profileBtn:hover, #walletBtn:hover,  #settingsBtn:hover {
  filter: grayscale(1) brightness(1.5);
  /*background: linear-gradient(0deg,rgb(250, 251, 255, 0.7),rgb(255, 255, 255, 0.5));*/
  border: 2px solid rgba(29,29,29,.01);
  box-shadow: 0 5px 15px rgba(112, 0, 255, 0.05), 0 5px 15px rgba(112, 0, 255, 0.01);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all 0.2s ease-in-out;
}

.header-menu-button-div-clicked {
  outline: 0;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  border: 2px solid rgba(255,255,255,.0);
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
  filter: grayscale(1) brightness(1.5);
}

/*---------- PROFILE PART ---------*/
.artist-profile-page {
  padding: 25px;
  background: #f7f5fa;
}

.artist-profile-section {
  max-width: 555px;
  background: #fff;
  border-radius: 1.7rem;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
}

.artist-profile-banner {
  height: 250px;
  width: 100%;
  border-radius: 1.7rem 1.7rem 0 0;
  position: relative;
  overflow: hidden;
}

.artist-profile-banner-content {
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}

.artist-profile-block {
  min-width: fit-content;
  /*margin-top: -50px;*/
  background: white;
  border-radius: 1.7rem;
}

.artist-profile-block-content {
  padding: 40px 37px;
}

@media screen and (max-width: 500px) {
  .artist-profile-page {
    padding: 0;
  }

  .artist-profile-section {
    border-radius: 0;
  }

  .artist-profile-block-content {
    padding: 40px 20px;
  }

  .artist-profile-banner {
    border-radius: 0;
  }
}

.artist-profile-main-informations {
  background: #ffffff;
  border-radius: 1.7rem 1.7rem 0 0;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
  z-index: 1;
}

.profile-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*margin-top: -135px;*/
}

.profile-user-picture {
  background: white;
  display: flex;
  padding: 6.25px;
  width: 172px;
  height: 172px;
  border-radius: 100%;
  margin: auto;
  margin-top: -85px;
  /*box-shadow: 0 10px 30px rgb(112 0 255 / 10%), 0 5px 100px rgb(112 0 255 / 10%);*/
}

.user-avatar {
  background: #F5F3F8
}

.artist-name-informations {
  margin-top: 40px;
}

.artist-links-block {
  margin-top: 40px;
}

.button-purple {
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  color: #fff;
  font-size: 12pt;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  box-shadow: 0 14px 28px rgb(112 0 255 / 2%), 0 10px 10px rgb(112 0 255 / 2%);
  background: linear-gradient(
320deg,rgba(112,0,255,.7),#7000ff);
}

.button-grey {
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 8px 30px;
  color: #7000FF;
  font-size: 12pt;
  font-weight: 800;
  border-radius: 12px;
  transition: all .2s ease-in-out;
  display: inline-block;
  /* box-shadow: 0 14px 28px rgb(112 0 255 / 2%), 0 10px 10px rgb(112 0 255 / 2%); */
  background: #f8f3ff;
  background: white;
}

.buttonLabel {
  cursor: pointer;
}

.upload-profile-picture-button {
  margin-top: 25px;
  font-size: 15pt;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

.update-profile-button {
  margin: 25px 12.5px;
  font-size: 15pt;
}

.logout-button {
  margin: 12.5px 12.5px;
  font-size: 15pt;
}

.button-purple:hover {
  background-color: #71ffd5;
  transform: scale(1.05);
  position: center;
  text-decoration: none;
}

.button-grey:hover {
  transform: scale(1.05);
  position: center;
  text-decoration: none;
  /*background: #f2e9fd;*/
}

.profile-user-logged-as {
  font-weight: 700;
  font-size: 18pt;
  color: #3d3d3d;
}

.profile-user-email {
  color: #7000FF;
  font-weight: 500;
  font-size: 15pt;
}

.link-input {
    margin-top: 25px;
    margin-top: 25px;
}

.form-input-category {
  font-weight: 700;
  text-align: left;
  color: #3d3d3d /*#7000FF*/;
  margin-bottom: 6.25px;
  margin-left: 12.5px;
  font-size: 15pt;
}

.profile-link-input {
  border-radius: 8.75px;
  width: 100%;
  padding: 8.75px 12.5px;
  font-size: 13.75pt;
  outline: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 12.5px;
  flex-wrap: wrap;
}

.profile-footer {
  margin-top: 12.5px;
  margin-bottom: -6.25px;
}

.profile-footer-app-version {
  color: #7a7a7a;
  font-size: 12.5pt;
}

.artist-card-socials-icons-block {
  display: flex;
  flex-direction: column;
  margin-left: -7.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.artist-card-socials-block {
  font-size: 11.25pt;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
  color: #7000ff;
  border-radius: 12.5px;
  padding: 7.5px 8.75px 7.5px 0;
  height: 62.5px;
}

.artist-card-socials-block:hover {
  background: #f5edff;
}

.artist-card-socials-block + .artist-card-socials-block {
  margin-top: 3.75px;
}

.artist-card-socials-icons {
  width: 68.5px;
  padding: 7.5px 12.5px;
}

.artist-card-socials-icons-a {
  cursor: pointer;
}

.artist-card-socials-icons-apple {
  transform: translateY(-2.5px);
  height: 53.75px;
}






/*----- Public Profile -----*/
.artistProfilePage {
    padding: 25px;
    background: #131313;
    /* background: #3b3b3b;*/
    backdrop-filter: blur(25px);
}

.artistProfile {
  /*padding: 20px;*/
}

.artistProfileBlock {
  max-width: 400px;
  padding: 20px;
  text-align: center;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #1D1D1D;
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 500px) {
  .artistProfilePage {
    padding: 0;
  }

  .artistProfileBlock {
    border-radius: 0px;
    max-width: 100%;
  }
}

.artistIdentity {
  margin-bottom: 35px;
}

.artistIdentity a {
  align-items: center;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

.artistPicture {
  background: #fff;
  max-width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
}

.artistName {
  font-weight: 800;
  font-size: 26pt;
  color: #ffffff;
  margin-top: 30px;
}

.pageSubtitle {
  margin-top: 5px;
}

.artistUsername {
  font-weight: 500;
  font-size: 14pt;
  color: #919191;
  margin-right: 5px;
}

.artistLinkLogo {
  width: 20px;
  max-height: 20px;
}

.artistLinks {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 800;
  font-size: 14pt;
  justify-content: space-between;
}

.linkBlock {
  border-radius: 15px;
  /*padding: 20px 20px;*/
  display: flex;
  width: calc(50% - 10px);
  margin: 0px 0 20px;
  /* width: 100%; */
  align-items: center;
  transition: all .2s ease-in-out;
}

.linkBlock:hover {
  background: #252525;
  filter: brightness(1.3);
}

.linkBlock a {
  align-items: center;
  border: solid 2px transparent;
  width: 100%;
  transition: all .2s ease-in-out;
  border-radius: 12px;
}

.linkBlock a:hover {
  border: solid 2px #8b8b8b;
  border-radius: 12px;
}

.linkBlockTopContent {
  padding: 20px 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #3e3e3e;
}

.linkBlockBottomContent {
  background: #313131;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.linkBlock:last-child:hover {
  background: #727272;
}

.serviceLogoBg {
  background: white;
  border-radius: 100%;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.serviceLogo {
  max-height: 45px;
  width: 55px;
  max-width: 100%;
}

.deezerLogo {
  transform: translateY(-3px);
}

.appleMusicLogo {
  transform: translateY(-2px);
}

.amazonLogo {
  transform: translateY(4px);
}

.websiteLogo {
  height: 33px;
}

.serviceTitle {
  /*color: #7000ff;*/
  color: white;
}

.serviceName {
  font-weight: 500;
  font-size: 12pt;
  color: #919191;
}

.profileFooter {
  margin: 20px 0 20px 0;
}

.footerCurieuxLogo {
  width: 130px;
  margin-bottom: 30px;
}